<section id="about" class="about-section">
  <div class="about-content-section">
    <div class="about-content-title">
      <h2 class="about-text">
        Planting a tree with the touch of a button. Growing food in space. There
        are so many solutions that businesses have come up with to tackle the
        increasingly dire climate situation
        <span style="color: #ed3b44">climate situation</span> our planet is
        facing.
      </h2>
    </div>
    <div class="lincoln-container">
      <img
        class="about-image"
        sizes="(min-width:1440px) 680px, (min-width:768px) 704px, (max-width:767px) 343px"
        src="./img/optima/lincoln-desk.jpeg"
        alt="portrait"
      />
    </div>
  </div>
  <div>
    <h2 class="visually-hidden">bn</h2>
    <ul class="about-accordion">
      <li class="about-accordion-item ac">
        <h3 class="about-accordion-title ac-header ac-trigger">
          About Ecologists
          <svg class="svg-btn clicked" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel about-list-item">
          <p class="about-list-text">
            Ecologists study these relationships among organisms and habitats of
            many different sizes, ranging from the study of microscopic bacteria
            growing in a fish tank, to the complex interactions between the
            thousands of plant, animal, and other communities found in a desert.
            Ecologists also study many kinds of environments. For example,
            ecologists may study microbes living in the soil under your feet or
            animals and plants in a rain forest or the ocean.
          </p>
        </div>
      </li>
      <li class="about-accordion-item ac">
        <h3 class="about-accordion-title ac-header ac-trigger">
          Ecology is
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel about-list-item">
          <p class="about-list-text">
            Ecology is the study of the relationships between living organisms,
            including humans, and their physical environment; it seeks to
            understand the vital connections between plants and animals and the
            world around them. Ecology also provides information about the
            benefits of ecosystems and how we can use Earth’s resources in ways
            that leave the environment healthy for future generations.
          </p>
        </div>
      </li>
      <li class="about-accordion-item ac">
        <h3 class="about-accordion-title ac-header ac-trigger">
          Program outcome
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel about-list-item">
          <p class="about-list-text">
            This degree is designed to provide a broad understanding of the key
            aspects of ecology and conservation, and emphasises gaining
            practical skills in the field and laboratory. In the first year,
            students have the opportunity to develop a broad understanding of
            biological concepts, including ecology, animal and plant anatomy and
            physiology, as well as key skills in environmental monitoring.
            During the second year, more specialist modules include conservation
            biology, evolution, and managing of ecosystems. Students can choose
            from a selection of optional modules to align their studies with
            areas of particular interest. There is an emphasis on independent
            research in the third year, and students are expected to undertake a
            substantial research project, as well as modules to develop critical
            scientific skills. This degree combines demonstrations with hands-on
            work in-lab or in-field. Students will also have the opportunity to
            develop their ability to communicate scientific knowledge
            effectively, in different contexts, different formats and to
            different recipients.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="elipse-cotainer">
    <div class="swiper about-scroll">
      <h2 class="visually-hidden">bn</h2>
      <ul class="about-skills-list swiper-wrapper"></ul>
    </div>
    <div class="about-btn-left">
      <svg class="list-item-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-arrow-to-right"></use>
      </svg>
    </div>
  </div>
</section>
