<section class="faq-section" id="FAQ">
  <div class="faq__acc-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-accordion">
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-title ac-header ac-trigger">
          Which country has the most ecological?
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="faq-list-text">
            1) Sweden. Coming in at first place is Sweden.<br />
            2) Denmark. Denmark is considered to be a pioneer in promoting
            sustainability, so it is no surprise that it ranks so highly. <br />
            3) United Kingdom.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-title ac-header ac-trigger">
          Who is the best ecologist in the world?
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="faq-list-text">
            Aldo Leopold <br />
            Considered the father of wildlife ecology, Leopold was a pioneer in
            the field of conservation biology. His book "A Sand County Almanac"
            is considered a classic of environmental literature.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-title ac-header ac-trigger">
          What do we do in ecology?
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="faq-list-text">
            Ecology is the study of the relationships between living organisms,
            including humans, and their physical environment; it seeks to
            understand the vital connections between plants and animals and the
            world around them.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-title ac-header ac-trigger">
          How can I contact you?
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="faq-list-text">
            our contacts are at the bottom of the page
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-title ac-header ac-trigger">
          What does ecology help?
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="faq-list-text">
            It provides new knowledge of the interdependence between people and
            nature that is vital for food production, maintaining clean air and
            water, and sustaining biodiversity in a changing climate.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-title ac-header ac-trigger">
          How can I join your team?
          <svg class="svg-btn" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </h3>
        <div class="ac-panel">
          <p class="faq-list-text">
            Just fill the form at the bootom of the page and we will contact
            you. We are always looking for passionate people to join our team.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
