<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Don’t just brood over having a better environment.<br />
      Start taking control and make a change.
    </h1>

    <ul class="hero-list-link">
      <li class="link-item">
        <a
          class="hero-link"
          target="_blank"
          href="https://www.instagram.com/uoswildlife/"
          >IG
        </a>
      </li>
      <li class="link-item">
        <a
          class="hero-link"
          target="_blank"
          href="https://www.facebook.com/groups/1781367842143800/"
          >FB
        </a>
      </li>
      <li class="link-item">
        <a
          class="hero-link"
          href="https://www.youtube.com/@bournemouthuni"
          target="_blank"
          >YT
        </a>
      </li>
      <li class="link-item">
        <a class="link-size hero-link" href="mailto:enquiries@lincoln.ac.uk"
          >enquiries@lincoln.ac.uk
        </a>
      </li>
    </ul>
  </div>
</section>
